/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home {

	.how-it-works{
		div{
			h3{
				border-bottom: 3px solid $gray;
			}
		}
	}
}

.wrap {
  width: 1040px;
}

#inner-header{
	height: 147px;
}

.logo {

	img{
		width: 100%;
		margin: 0 auto;
	}
}

.phone-header{
	font-size: 47px;

}

.call-us{
	width: 60%;
	float: left;
	margin: 0;
}
.social{
	width: 25%;
	float: left;
}

/*********************
Primary Menu
*********************/
.primary-nav{
	padding: 0 1em;
	a{
		font-size: 1em;
	}
}
