/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home {

	.hero-main{
		.cta-button-hero-main{
		}
	}

	.how-it-works{
		div{
			h3{
				border-bottom: 3px solid $gray;
			}
			img{
				box-shadow: 10px 10px 0px rgba(0,0,0,.3);
			}
		}
	}
}

.wrap {
  width: 1040px;
}

#inner-header{
	height: 147px;
}

.logo {

	img{
		width: 100%;
		margin: 0 auto;
	}
}

.phone-header{
	font-size: 47px;

}
	.connect{
		min-height: 250px;
	}

.call-us{
	width: 60%;
	float: left;
	margin: 0;
}
.social{
	width: 25%;
	float: left;
}

/*********************
Primary Menu
*********************/
.primary-nav{
	padding: 0 1em;
	a{
		font-size: 1em;
	}
}

.footer {
	.guarantee{
		display: block;
		position: absolute;
		top: -115px;
		left: 25px;
		z-index: 2;
	}
	.logo-footer{
		display: block;
		position: absolute;
		top: -105px;
		left: 308px;
		z-index: 2;
	}
	/*Footer Widgets*/
	.footer-widgets{
		.widget{
			width: 23%;
		}
		.footer-trial{
			display: none;
			margin-left: 250px;
			width: 26%;
		}
		.footer-blog{
			margin-left: 275px;
		}
		.footer-links{}
		.footer-press{}
	}
}
