/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home {

	.hero-main{
		.cta-button-hero-main{
		}
	}

	.how-it-works{
		div{
			h3{
				border-bottom: 3px solid $gray;
			}
			img{
				box-shadow: 10px 10px 0px rgba(0,0,0,.3);
			}
		}
	}
}/* END Home */

.page-template{
	.footer{
		.footer-widgets{
			.footer-trial{
				display: block;
			}
			.footer-blog{
				margin-left: 0;
			}
		}
	}
}

.wrap {
  width: 1040px;
}

#inner-header{
	height: 147px;
}
.social-icons-sml{
	display: block;
	float: left;
	ul{
		margin: .5em auto .5em 1em;
	}
	li{
		float: left;
	}
	a{
		color: $soft-white;
		padding: .5em;
		font-size: 18px;
		width: 50px;
		display: block;
		@include transition(all .2s ease-in-out);
		&:hover, &:active{
			color: $white;
			padding-left: .75em;
			background: $red;
		}
	}
}
.menu-login{
	a{
		padding: 1.4em!important;
	}
}
.navbar-collapse.collapse{
	display: none!important;
}

.logo {

	img{
		width: 100%;
		margin: 0 auto;
	}
}

.phone-header{
		margin: .3em 0 1em 1em;

}
.connect{
	min-height: 250px;
}

.call-us{
	width: 60%;
	float: left;
	margin: 0;
}
.social-icons-lrg{
	width: 25%;
	float: left;
}

/*********************
Primary Menu
*********************/
.primary-nav{
	// padding: 0 1em;
	display: block;
	a{
		font-size: 1em;
	}
}

.footer {
	.guarantee{
		display: block;
		position: absolute;
		top: -115px;
		left: 25px;
		z-index: 2;
	}
	.logo-footer{
		display: block;
		position: absolute;
		top: -105px;
		left: 308px;
		z-index: 2;
	}
	/*Footer Widgets*/
	.footer-widgets{
		.widget{
			width: 23%;
		}
		.footer-trial{
			display: none;
			margin-left: 250px;
			width: 26%;
		}
		.footer-blog{
			margin-left: 275px;
		}
		.footer-links{}
		.footer-press{}
	}
}

/*//////////////////////////////////////
BOOTSTRAP EDITS///////////////////////*/


/*Kill the screen shift on modals*/

html body.modal-open[style] {
	padding-right: 0px !important;
}
.modal {
 	overflow-y: auto;
}
.modal-open {
 	overflow: auto;
}
