/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home {

	.hero-main{
		.wrap{
			position: relative;
		}
		.hero-diagram{
			display: block;
			float: left;
			position: relative;
			top: 25px;
			left: -175px;
		}
		#meteor-slideshow {
			position: absolute;
			right: -40px;
		}
		.cta-button-hero-main{
			position: absolute;
			bottom: 0;
			right: 120px;
		}
	}
}