/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home {

	.hero-main{
		.wrap{
			position: relative;
		}
		.hero-diagram{
			display: block;
			float: left;
			position: relative;
			top: 25px;
			left: -175px;
		}
		#meteor-slideshow {
			position: absolute;
			right: -40px;
		}
		.cta-button-hero-main{
			position: absolute;
			bottom: -25px;
			right: 120px;
			margin: 0;
			padding: .75em;
		}
	}
}

.footer{
	/*Footer Widgets*/
	.footer-widgets{
		.widget{
			width: 16%;
		}
		.footer-trial{
			display: block;
			margin-left: 275px;
			margin-right: 20px;
			width: 28%;
		}
		.footer-blog{
			margin-left: 0;
		}
		.footer-links{}
		.footer-press{}
	}
}